<header>
  <div class="container">
    <a routerLink="/" class="logo"> Online Food Stroe </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login" class="logo">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Abraham Nkomo</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>LogOut</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart">Cart<span *ngIf="qty>0">{{qty}}</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
