<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        label="Email"
        type="email"
        [showErrorWhen]="isSubmitted"
        [control]="fc.email"
      >
      </text-input>

      <text-input
      label="Password"
      type="password"
      [showErrorWhen]="isSubmitted"
      [control]="fc.password"
    >
    </text-input>     
      <app-default-button text="Login"></app-default-button>
    </form>
  </div>
</div>
