<table>
  <tr>
    <td colspan="5">
      <h2>Order Items:</h2>
    </td>
  </tr>
  <tr *ngFor="let order of order.cartItems">
    <td>
      <a routerLink="/details/{{ order.food.id }}">
        <img [src]="order.food.imageUrl" />
      </a>
    </td>
    <td>
      {{ order.food.name }}
    </td>
    <td>
      {{ order.food.price | currency }}
    </td>
    <td>
      {{ order.quantity }}
    </td>
    <td>
      {{ order.price | currency }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Total : </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency }}
      </strong>
    </td>
  </tr>
</table>
